@import "tailwindcss";

:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.dashboard {
  @apply bg-slate-800 p-6;
}

.data-selector {
  @apply bg-slate-100 p-6 rounded-lg shadow-md;
}

.energy-chart {
  @apply bg-slate-100 p-4 rounded-lg shadow-md;
}

.loading-spinner {
  @apply animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500;
}