@import "tailwindcss";

:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #291d3d;
}

.dashboard {
  @apply p-6 h-screen flex flex-col items-center;
}

.data-selector {
  @apply bg-slate-300 p-6 rounded-lg shadow-md;
}

.energy-chart {
  @apply bg-slate-300 p-4 rounded-lg shadow-md;
}

.loading-spinner {
  @apply animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500;
}